MONGO_URI=your_mongodb_connection_string
NODE_ENV=development
PORT=5000
JWT_SECRET=your_jwt_secret_key

FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_APP_ID=your_firebase_app_id

ADMIN_NAME=admin1
ADMIN_PASSWORD=admin_password
ADMIN_EMAIL=admin@example.com

# Stripe Configuration (Test Mode)
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
