
.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 560px;
  }
  .event-card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .event-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .event-details {
    padding: 10px 0;
  }
  
  .event-details h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .event-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .event-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .favorite-button,
  .comment-button {
    display: flex;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  line-height: 1;
  color: #000;
}
  
.favorite-button{
  align-self: flex-start ;
}

.comment-button{
  align-self:flex-end ;
}
  
  .favorite-button span {
    margin-left: 15px;
    font-size: 15px;
  }

  .comment-button span {
    font-size: 16px !important;
    margin-left: 8px !important;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    color: #000;
  }
